<script type="text/javascript">
var data1 = new Array();
	var data2 = new Array();
	data1=[];
	data2=[];

	$(function() {

		var chart =bb.generate({
		    "bindto": "#chart",
		    "data": {
		        "columns": [
		        ]
		    },
		    "legend": {
		        "position": "bottom"
		     },
				 "axis": {
			    "x": {
			      "type": "category",
						"tick": {
									"rotate": 90,
									"multiline": false
							},
			     "categories": [
						    	 			"개방성",
									        "모험성",
									        "예술적흥미",
									        "정서성",
									        "상상력",
									        "지력",
									        "권력에 저항",
									        "성실성",
									        "성취 추구",
									        "신중함",
									        "순종성",
									        "질서 정연함",
									        "자기 훈련",
									        "자기 효능감",
									        "외향성",
									        "활동 레벨",
									        "자신만만함",
									        "쾌활",
									        "자극 탐색",
									        "외향적",
									        "사교적",
									        "친화성",
									        "이타성",
									        "협동성",
									        "겸손함",
									        "비타협성",
									        "동정",
									        "신뢰",
									        "감정의 기복",
									        "급한",
									        "걱정이 많은",
									        "우울한",
									        "극단적인",
									        "자의식이 강한",
									        "스트레스에 민감한"
						      ]
			    }
		 }
		}); // var chart

		$("#sender1").change(function() {
			var sender = $('#sender1').val();
			$('#name1').text(sender);
			readPI(sender, "data1", chart);
		}); //#sender1

		$("#sender2").change(function() {
			var sender = $('#sender2').val();
			$('#name2').text(sender);
			readPI(sender, "data2", chart);
		}); //#sender2
	}); // $(function)


	function readPI(sender, window, chart) {
		console.log('function readPI' + sender);
		$.ajax({
			url : "/reader/readPI",
			type : "GET",
			async : false,
			data : 'sender=' + sender,
			success : function(data) {
				console.log(data);
				document.getElementById(window).innerHTML = parser(data);

				if (window=="data1") { data1=datainput(data);};
				if (window=="data2") { data2=datainput(data);};
				chart.load({
				    columns: [
				       data1,
				       data2
				   ]
				 }); // chart.load
			},
			error : function(request, status, error) {
				console.log("code:" + request.status + "\n" + "message:"+ request.responseText + "\n" + "error:" + error);
			}
		});
	};

	function datainput(data){
		var arr = new Array();
		$.each(data, function (key,val){
			if (key !='id' && key!='created_at' && key!='updated_at') {
				arr.push(val)
			};
		});
		console.log(arr);
		return arr;
	};

	function parser(data) {
		var a='';


		a+="<table class='table'>";
		$.each(data, function(key, val) {
			if (key !='id' && key!='created_at' && key!='updated_at' && key!='sender') {
				if (val>0.9){
					a += "<tr>";
					a += "<td>" + key + "</td>";
					a += "<td>" + val + "</td>";
					a += "<td>" + barchart(val, "green") +"</td>";
					a += "</tr>";
				} else if (val>0.7) {
					a += "<tr>";
					a += "<td>" + key + "</td>";
					a += "<td>" + val + "</td>";
					a += "<td>" + barchart(val, "lgreen") +"</td>";
					a += "</tr>";
				} else {
					a += "<tr style='color:grey;'>";
					a += "<td>" + key + "</td>";
					a += "<td>" + val + "</td>";
					a += "<td>" + barchart(val, "grey") +"</td>";
					a += "</tr>";
				}
			}
		});
		a+="</table>";
		return a;
	}



	function barchart(val, color){
		var w= parseInt(val * 100);
    if (color == 'green')  {
		  return '<img src="<%=asset_path('point_green.png')%>" height="7" width="'+ w + '"/>';
    }
    else if (color=='lgreen') {
      return '<img src="<%=asset_path('point_lgreen.png')%>" height="7" width="'+ w + '"/>';
    }
    else {
      return '<img src="<%=asset_path('point_grey.png')%>" height="7" width="'+ w + '"/>';
    }
	};


</script>

	<%= render 'header' %>


	<div class="row">
		<div class="col-sm-11"><div id="chart"></div></div>
	</div>


	<br />
	<br />

	<!-- body started here -->
	<div class="container">
		<div class="row">
			<div class="col-sm-6">

					<h3 id="name1">sender1</h3>
					<select name="sender1" id="sender1">
						<option></option>
						<% @senders.each do |sender| %>
							<option value="<%=sender%>"> <%=sender%> </option>
						<% end %>
					</select>
					<div id="data1"></div>

			</div>
			<div class="col-sm-6">


					<h3 id="name2">sender2</h3>
					<select name="sender2" id="sender2">
						<option></option>
						<% @senders.each do |sender| %>
							<option value="<%=sender%>"> <%=sender%> </option>
						<% end %>
					</select>
					<div id="data2"></div>

			</div>
		</div>



		<!--  bottom buttons here -->
		<div class="row">
			<br />
			<br />
			<div class="col-sm-12" style="text-align: center">
				 <a href="/"><button type="button" id="home" class="btn btn-default" />HOME
					</button></a>
				<button id="submit" type="button" class="btn btn-default" 	onclick="javascript:history.back()" />
				BACK
				</button>
			</div>
		</div>
	</div>
